/* Search form styles */

#form-div {
  margin-top: 1rem;
}

#form-div form * {
  margin: 0.3rem;
}

#form-div form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-div input {
  max-width: 200px;

  background-color: transparent;
  color: rgb(219, 219, 219);
  font-size: 1rem;

  border: 1px solid #fff;
  border-radius: 20px;
  padding: 0.3rem;
}

#form-div input:focus {
  background-color: #ffffff;
  color: rgb(19, 19, 19);
}

#form-div button {
  max-width: 100px;

  background-color: rgb(34, 151, 219);
  color: aliceblue;

  padding: 0.4rem 1rem;
  border: 0;
  border-radius: 10px;
}

#form-div button:active {
  background-color: hsl(202, 73%, 65%);
}

#alert-div {
  color: red;
  text-align: center;

  font-size: 0.9rem;

  animation: alert 0.3s ease-in 0s;
}

@media (min-width: 767px) {
  #form-div form * {
    margin-top: 1rem;
  }
  #form-div form {
    flex-direction: row;
    justify-content: center;
  }

  #form-div input {
    color: black;
    border: 2px solid black;
  }
}

@keyframes alert {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
