#main-tile {
  width: 100%;
  height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#city-name {
  font-size: 2.4rem;
}

#date {
  margin: 0.6rem;
}

#temp {
  margin: 3rem 0;

  font-size: 5rem;

  border-bottom: 4px dashed black;
}

#weather-status {
  margin: 1rem 0;
}
